
body p {
    font-family : arial;
}

/* header container*/

.main-header-container {
    display : flex;
    height : 40px;
    margin-bottom : 10px;
}

.left-header-container {
    width : 200px;
}

.left-header-container {
    display : flex;
    align-items: center;
    justify-content: center;
}

.left-handburger-menu {
    width : 30px;
    height : 30px;
    padding-right : 25px;
}

.left-youtube-logo {
    width : 120px;
    height : 120px;
}

.middle-header-container {
    margin-left : 220px;
    margin-right : 100px;
    flex : 1;
    display : flex;
}

.search-icon-img{
    width : 25px;
    height : 25px;
    margin-left : -5px;
    margin-top : 2px;
}

.middle-search-box {
    height : 38px;
    flex : 1;
    max-width : 550px;
    width : 0px;
    border : 1px hsl(0, 5%, 83%) solid;
    padding-left : 10px;
    border-top-left-radius : 25px;
    border-bottom-left-radius: 25px;
    font-size : 15px;
    outline : none;
}

.middle-search-button {
    margin-bottom : -1.3px;
    margin-left : -1px;
    border : 1px hsl(0, 5%, 83%) solid;
    width : 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right : 13px;
}


.voice-icon-img  {
    width : 25px;
    height : 25px;
    margin-top : 5px;
}
.middle-voice-button {
    width : 38px;
    height : 38px;
    border-radius: 20px;
    border : none;
}

.right-header-container {
    width : 220px;
    display : flex;
    justify-content: space-between;
    margin-right : 10px;
}

.create-img{
    width : 25px;
    height : 25px;
    margin-top : -2px;
    padding-left : 5px;
}

.create-button {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border : none;
}

.create-button p {
   margin-left : 5px;
   font-size: 16px;
   font-weight: 550;
   padding-right : 5px;
}
.notification-img {
    width : 38px;
    height : 38px;
    border-radius: 19px;
    margin-left: -7px;
    margin-top : -2px;
}

.notification-button {
    width : 38px;
    height : 38px;
    border-radius: 19px;
    border : none;
}


/* youtube video container info code*/

.main-youtube-video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

.source-video {
    width : 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.source-profile-image{
    height : 40px;
    width : 40px;
    border-radius : 20px;
}

.source-video-profile{
    vertical-align: top;
}

/* youtube video content style*/

.video-content-info {
    font-size : 16px;
    padding-bottom : 14px;
}

.channel-name, .channel-views {
    font-size : 13px;
    color : hsl(0, 1%, 69%);
    padding-bottom : 10px;
}

/* video-content grid */

.source-video {
    margin-bottom : 3px;
}

.source-video-contents p{
    margin : 0;
}

.source-video-contents {
 padding-left: 10px;
}

.source-video-info {
    display : grid;
    grid-template-columns: 40px 1fr;
}

