
body p {
    font-family : arial;
}

body {
    padding-top : 60px;
    padding-left : 260px;
}

/* header container*/

.main-header-container {
    display : flex;
    height : 40px;
    margin-bottom : 10px;
    position : fixed;
    background-color: white;
    left : 0;
    right : 0;
    top : 0;
    padding-top : 8px;
    padding-bottom : 15px;
    z-index: 100;
}

.left-header-container {
    width : 200px;
}

.left-header-container {
    display : flex;
    align-items: center;
    justify-content: center;
}

.left-handburger-menu {
    width : 30px;
    height : 30px;
    padding-right : 25px;
}

.left-youtube-logo {
    width : 120px;
    height : 120px;
}

.middle-header-container {
    margin-left : 220px;
    margin-right : 100px;
    flex : 1;
    display : flex;
}

.search-icon-img{
    width : 25px;
    height : 25px;
    margin-left : -5px;
    margin-top : 2px;
}

.middle-search-box {
    height : 38px;
    flex : 1;
    max-width : 550px;
    width : 0px;
    border : 1px hsl(0, 5%, 83%) solid;
    padding-left : 10px;
    border-top-left-radius : 25px;
    border-bottom-left-radius: 25px;
    font-size : 15px;
    outline : none;
}

.middle-search-button {
    margin-bottom : -1.3px;
    margin-left : -1px;
    border : 1px hsl(0, 5%, 83%) solid;
    width : 70px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-right : 13px;
}


.voice-icon-img  {
    width : 25px;
    height : 25px;
    margin-top : 5px;
}
.middle-voice-button {
    width : 38px;
    height : 38px;
    border-radius: 20px;
    border : none;
}

.right-header-container {
    width : 220px;
    display : flex;
    justify-content: space-between;
    margin-right : 10px;
}

.create-img{
    width : 25px;
    height : 25px;
    margin-top : -2px;
    padding-left : 5px;
}

.create-button {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border : none;
}

.create-button p {
   margin-left : 5px;
   font-size: 16px;
   font-weight: 550;
   padding-right : 5px;
}
.notification-img {
    width : 38px;
    height : 38px;
    border-radius: 19px;
    margin-left: -7px;
    margin-top : -2px;
}

.notification-button {
    width : 38px;
    height : 38px;
    border-radius: 19px;
    border : none;
}

/* youtube video container info code*/

.main-youtube-video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

.source-video {
    width : 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.source-profile-image{
    height : 40px;
    width : 40px;
    border-radius : 20px;
}

.source-video-profile{
    vertical-align: top;
}

/* youtube video content style*/

.video-content-info {
    font-size : 16px;
    padding-bottom : 14px;
}

.channel-name, .channel-views {
    font-size : 13px;
    color : hsl(0, 1%, 69%);
    padding-bottom : 10px;
}

/* video-content grid */

.source-video {
    margin-bottom : 3px;
}

.source-video-contents p{
    margin : 0;
}

.source-video-contents {
 padding-left: 10px;
}

.source-video-info {
    display : grid;
    grid-template-columns: 40px 1fr;
}


/* main slide window conntainer */

.main-slide-container{
    position : fixed;
    width : 250px;
    background-color: white;
    bottom : 0;
    top : 62px;
    left : 0;
    overflow-y: auto;
}

.top-slide-container, .middle-slide-container, .middle-subcription-slide-container, .middle-explore-container, .more-operation-youtube-container, .extra-youtube-operation-container, .about-youtube-container {
    width : 200px;
    padding : 10px;
}

.barbreak{
    margin-top : 10px;
    margin-bottom : -5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color : hsl(0, 9%, 89%);
}

.top-slide-window, .middle-slide-window , .middle-subcription-slide-window, .middle-explore-slide-window, .more-operation-slide-window, .extra-operation-slide-window{
    display : flex;
    align-items: center;
    padding : 12px;
    cursor : pointer;
    border-radius: 12px;
}

.active {
    background-color: #f5f5f5;
}
.top-slide-window:hover, .middle-slide-window:hover, .middle-subcription-slide-window:hover, .middle-explore-slide-window:hover, .more-operation-slide-window:hover, .extra-operation-slide-window:hover {
    background-color: #f5f5f5;
}

.top-img-source , .middle-img-source, .middle-subcription-img-source, .middle-explore-img-source, .more-operation-img-source, .extra-operation-img-source{
    width : 20px;
    height : 20px;
}

.top-slide-icon , .middle-slide-icon, .middle-subcription-slide-icon, .middle-explore-slide-icon, .more-operation-slide-icon, .extra-operation-slide-icon{
    padding-left : 5px;
    margin-right : 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-slide-name , .middle-slide-name, .middle-subcription-slide-name, .middle-explore-slide-name, .more-operation-slide-name, .extra-operation-slide-name{
    font-size: 15px;
    font-family : arial;
    font-weight: 500;
}

.slide-symbol {
    font-size: 20px;
    font-weight : bold;
    margin-left : 8px;
}

.middle-slide-header-name {
    font-family: arial;
    font-weight: 600;
    font-size: 16px;
}

 .subcription-slide-header-name, .explore-slide-header-name, .more-slide-header-name {
    font-family: arial;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding : 12px;
    margin-top : -12px;
 }

 .middle-subcription-img-source{
    width : 22px;
    height : 22px;
    border-radius: 15px;
}

.about-youtube-container {
    margin-left : 12px;
}
.about-youtube-container p {
    width : 180px;
    font-size: 12.5px;
    color : rgb(129, 127, 127);
    line-height: 25px;
    font-weight: 550;
}

.about-youtube-container .copy-rights{
    color : rgb(156, 151, 151);
    font-weight: 500;
}